:root{
    --primary: #EB6C27;
    --text: #3a3a3a;
    --bg: #fff;
    --text--gray: #888888;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* --- MAIN PAGE PROPERTIES --- */
@font-face {
    font-family: 'Open Sans';
    src: url(../Fonts/OPEN-SANS.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

a{
    text-decoration: none;
    color: var(--text);
}

.main--header{
    background-image: url(../IMG/header-background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header--alt{
    height: 20vh;
}
/* --- NAVIGATION PROPERTIES --- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    height: 92px;
    width: 80%;
    margin: 50px 205px;
}
.navlogo{
    width: 200px;
    height: 100%;
}
.navlink{
    padding: 35px 30px;
    transition: all 0.1s ease-in-out;
}
.active{
    background-color: var(--primary);
    color: var(--bg);
}
.navlink:hover{
    background-color: var(--primary);
    color: var(--bg);
}

/* HAMBUREGER MENU */
.page-navbar__hamburger {
    padding: 0;
    border: none;
    background-color: white;
    display: none;

    margin-right: 20px;
    cursor: pointer;

    font-family: Icons;
    font-size: 2.7em;
    color: var(--primary);
    background-image: linear-gradient(45deg, #EB6C27, #FFBE9A);
    background-size: 100%;
    background-repeat: repeat;
}

/*--- BUTTON PROPERTIES ---*/
.btn--primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    padding: 12px 40px;
    gap: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin-top: 2em;
}
.btn--primary::after{
    content: url(../IMG/arrow_back_24px.svg);
}
.btn--primary:active{
    background-color: var(--primary);
}
.btn--dashed {
    padding: 10px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
    /*https://css-tricks.com/more-control-over-css-borders-with-background-image/* protože nemám tušení jak protáhnout čáru u buttonu*/
    background-image: repeating-linear-gradient(177deg, var(--primary), var(--primary) 20px, transparent 20px, transparent 34px, var(--primary) 34px), repeating-linear-gradient(267deg, var(--primary), var(--primary) 20px, transparent 20px, transparent 34px, var(--primary) 34px), repeating-linear-gradient(-3deg, var(--primary), var(--primary) 20px, transparent 20px, transparent 34px, var(--primary) 34px), repeating-linear-gradient(87deg, var(--primary), var(--primary) 20px, transparent 20px, transparent 34px, var(--primary) 34px);
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    color: var(--primary);
    transition: 0.3s ease-in-out;
}
.btn--promote{
    display: flex;
    background-color: var(--primary);
    color: var(--bg);
    padding: 12px 40px;
    justify-content: center;
    max-width: 120px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn--dashed:hover{
    font-size: 1.1em;
    max-width: 150px;
}
/* --- HEADER PROPERTIES --- */
.header--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.title{
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 163px;
    color: var(--bg);
    margin: 0;
}
.title--undertext{
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -0.05em;
    color: var(--bg);
    margin: 0;
}
/* --- MAIN PAGE PROPERTIES --- */
.pagecontent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    padding-top: 50px;
}
.page--header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
h1 b{
    color: var(--primary);
    font-weight: 700;
}
/* grid*/
.services{
    display:flex;
    flex-direction: column;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: dense;
    padding-bottom: 50px;
    align-items: center;
}
.service__img--right{
    grid-column: 2;
}

/* promotion banner */
.promotion{
    background-image: url("../IMG/background-CTAblock-4460w.jpg");
    background-color: #888888;
    background-size: cover;
    background-position: center center;
    width: 84vw;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    padding: 10%;
}
.promote__text{
    display: flex;
    flex-direction: column;
    color: var(--bg);
    font-size: 30px;
    font-weight: 700;
}

/* REFERENCE */
.reference__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}
.reference-item{
    position: relative;
    width: 320px;
    height: 200px;
}
.reference-item__img {
    width: 320px;
}
.reference-item__heading {
    text-align: center;
    font-weight: 700;
    font-size: 1.4em;
    margin: 10px 0;
    display: none;
}
.reference-item__text {
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
    display: none;
}
.reference__cta {
    text-align: center;
}
.reference-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background-color: var(--primary);
  }
.reference-item:hover .reference-item__overlay {
    opacity: 0.9;
  }
.reference-item__overlay__heading{
    color: var(--bg);
    font-weight: 700;
    font-size: 1.4em;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.reference-item__overlay__text{
    color: var(--bg);
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
    display: flex;
    justify-content: center;
}
/* --- FOOTER PROPERTIES --- */
footer{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
}
footer h1{
    color: var(--bg);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
}
footer p{
    color: var(--bg);
    font-weight: 300;
    font-size: 25px;
}
.btn--primary--no-arrow{
    background-color: var(--primary);
    color: var(--bg);
    margin-bottom: 2em; 
    font-weight: 700;
    padding: 20px 40px;
    transition: 0.2s ease-in-out;
}
.inverted{
    background-color: var(--bg);
    color: var(--primary);
}
.btn--primary--no-arrow:hover{
    font-size: 1.1em;
}
/* ====== SPECIÁLNÍ NASTAVENÍ PRO KONTAKT.HTML ===== */
.grid__contact{
    max-width: 1280px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.grid__contact__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.map{
    width:600px; 
    height:400px;
}
.grid__contact__info span{
    display: flex;
    align-items: center;
}
span > p{
    margin: 0;
}
.grid__contact__info span::before {
    display: block;
    margin-right: 20px;
    content: "";
    background-image: url(../IMG/mail_24px.svg);
    background-color: var(--primary);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.grid__contact__info span:first-of-type:before {
    background-image: url(../IMG/local_phone_24px.svg);
}
.grid__contact__info span:last-of-type::before {
    background-image: url(../IMG/room_24px.svg);
}
form{
    display: flex;
    flex-direction: column;
}
form p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2em;
    margin-top: 0;
}
.form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 85%;
}
form label{
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0.5em;
}
form input{
    padding: 10px;
    border: 1px solid var(--primary);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}
form textarea{
    padding: 10px;
    border: 1px solid var(--primary);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
    font-family: 'Open Sans';
    /* number of predefined rows */
    min-height: 130px;
}
form textarea:focus{
    outline-color: var(--primary);
    border-radius: 0;
}
form input:focus{
    outline-color: var(--primary);
}
form select{
    padding: 10px;
    border: 1px solid var(--primary);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
    font-family: 'Open Sans';
}
form select:focus{
    outline-color: var(--primary);
}
.form__group a{
    width: 200px;
    font-size: 0.8em;
}
.form__group a:hover{
    font-size: 0.8em;
}
/* =========== RESPONSIVNOST PRO MOBILE =========== */

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 1300px) {
    .header--alt{
        height: 200px !important;
    }
    .title{
        font-size: 5em;
    }
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        justify-content: center;
    }
    .service__text{
        max-width: 727px;
    }
    .service__img--right{
        grid-column: 1;
    }
    .navbar{
        padding-bottom:  0;
    }
    .form__group .btn--primary--no-arrow{
    }
}
@media screen and (max-width: 990px) {
    .header--alt{
        background-image: none;
        height: 200px !important;
    }
    .title{
        font-size: 30px;
        line-height: 40px;
    }

    .title--text .btn--primary{
        display: none;
    }
    .title--undertext{
        line-height: 40px;
        font-size: 20px;
    }
    .navbar{
            width: 100%;
            margin: 0 auto;
    }
    .navlinks{
        display: none;
    }
    .page-navbar__hamburger{
        display: block;
    }
    .pagecontent{
        padding-top: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    /* header */
    .main--header{
        height: 50vh;
    }
    .page--header{
        align-items: flex-start;
        padding-top: 10%;
    }
    .page--h1{
        font-size: 20px;
    }
    .header--text a{
        display: none;
    }
    /* services */ 
    .service__img, .service__img--right{
        max-width: 90vw;
    }
    .service__text h1{
        font-size: 18px;
    }
    .service__text p{
        font-size: 14px;
    }
    /* reference */
    .reference__items{
        max-width: 90vw;
    }
    .reference-item__info{
        padding-bottom: 60px;
    }
    .reference-item__heading{
        display: block;
    }
    .reference-item__text{
        display: block;
    }
    form a{
        max-width: 80%;
    }
    /* promotion banner */
    .promote__text{
        font-size: 18px;
        max-width: 75vw;
    }
    .btn--promote{
        font-size: 15px;
    }
    /* footer */
    footer h1{
        font-size: 22px;
    }
    footer p{
        text-align: center;
        font-size: 17px;
        max-width: 90vw;
    }
    .grid__contact{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .map{
        width: 90vw;
        height: 300px;
    }
}